.footer {
  background-color:white;
  color: white;
  text-align: center;
  padding: 35px 20px;
}
.footer-image{
    height: 50px;
    width:50px;
}
.footer-logo {
  color: orange;
  font-size: 32px;
  margin-bottom: 12px;
}

.footer-text {
  color:black;
  font-size: 18px;
  margin-bottom: 15px;
}

.footer-copy {
  color: #777;
  font-size: 14px;
}
@media screen and (max-width:768px){

  .footer{
    padding:30px 20px;
    text-align:center;
  }

}