.about{
    display:flex;
    justify-content:space-between;
    align-items:center;
    
  padding: 60px 72px;

    gap:60px;
    height:420px;
    background-color: black;
    scroll-margin-top: 80px;
}

.about-image{
    flex:1;
}

.about-image img{
    width:550px;
    border-radius:20px;
}

.about-content{
    flex:1;

}

.about-content h1{
    color:orange;
    font-size:25px;
    margin-bottom:10px;
}

.about-content h3{
    font-size:30px;
    color:darkgray;
    margin-bottom:20px;
}

.about-content p{
    color:darkgray;
    line-height:1.8;
    margin-bottom:20px;
}

.about-content ul{
    list-style:none;
    margin-bottom:30px;
}

.about-content li{
    margin-bottom:12px;
    font-size:18px;
    color:darkgray;
}

.about-btn{
    background:orange;
    color:black;
    border:none;
    padding:12px 25px;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

.about-btn:hover{
    background:#cc8400;
}
@media screen and (max-width: 768px) {
  .about {
    flex-direction: column;
    height: auto;
    padding: 40px 20px;
    gap: 30px;
    text-align: center;
  }

  .about-image img {
    width: 100%;
    max-width: 350px;
  }

  .about-content {
    width: 100%;
  }

  .about-content h1 {
    font-size: 40px;
  }

  .about-content h3 {
    font-size: 28px;
  }

  .about-content p,
  .about-content li {
    font-size: 18px;
  }
}