* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background-color:black;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position:fixed;
  width:100%;
  top:0;
}
.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.nav-links a:hover {
  color: orange;
}
.logo {
  color:orange;
  font-size: 30px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 35px;
}

.nav-links li {
  cursor: pointer;
  font-size: 18px;
  color:white;
  font-weight: 500;
}

.nav-links li:hover {
  color: orange;
}

.order-btn {
  background-color:orange;
  color:white;
  border: none;
  padding: 12px 22px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.order-btn:hover {
  background-color:orangered;
}
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 15px;
    gap: 15px;
  }

  .nav-links {
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .logo {
    font-size: 28px;
  }
}
.nav-links .nav-link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.nav-links .active-link {
  color: orange !important;
  font-weight: bold;
  text-decoration: underline;
}