.navbar {
    display: flex;

    justify-content: space-between;
 
    align-items: center;
    background: #080808;
    padding: 20px 30px;
    border-radius: 10px;
    margin-bottom: 25px;
}

.navbar-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.search-box {
    display: flex;
    align-items: center;
    background: #f3f3f3;
    padding: 10px 15px;
    border-radius: 8px;
}

.search-icon {
    color: #888;
    font-size: 18px;
    margin-right: 10px;
}

.search-input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 15px;
    width: 220px;
}

.search-input::placeholder {
    color: #888;
}

.profile-section {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.profile-icon {
    font-size: 32px;
    color: #444;
}

.profile-name {
    font-size: 16px;
    font-weight: 500;
    color: #333;
}
.hamburger {
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
}
@media (max-width: 768px) {

  .navbar {
    padding: 15px;
  }
  .hamburger {
    display: block;
  }
  .navbar-right {
    width: 100%;
    gap: 10px;
    justify-content: space-between;
  }

  .search-box {
    flex: 1;
    width: auto;
  }

  .search-input {
    width: 100%;
  }

  .profile-name {
    display: none;
  }

  .profile-icon {
    font-size: 30px;
  }

}